/* Menu Box */
/* Menu Box Base */
.menu-box {
  background-color: var(--xiketic);
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  border-bottom-left-radius: 100%;
  transition: width 0.5s, height 0.5s, border-radius 0.5s;
}

/* When menu is opened */
.menu-box.open-menu {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 0;
}

/* Animating menu items */
.menu-box ul li {
  list-style: none;
  margin: 20px;
  text-align: center;
  opacity: 0;
  transform: translateY(30px);
  transition: transform 1s, opacity 1s;
}

.menu-box.open-menu ul li {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.5s;
}

/* Menu links */
.menu-box ul li a {
  display: inline-block;
  text-decoration: none;
  color: var(--white-coffee);
  font-size: 6.5rem;
  font-weight: 600;
  position: relative;
  transition: 0.5s;
  text-transform: uppercase;
}

.menu-box ul li a:hover {
  font-size: 8rem;
  color: var(--sandy-brown);
}



/* Main Section */
.main {
  width: 96vw;
  height: 54vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--xiketic);
}

.main .left-content {
  width: 48rem;
  height: 48rem;
  background-color: var(--xiketic);
  display: flex;
  flex-direction: column;
}

.main .left-content button {
  width: 8.5rem;
  height: 2.5rem;
  border-radius: 5rem;
  margin: -4rem auto;
  text-align: center;
  padding: 12px 0;
  font-family: 'Open Sans', sans-serif;
  transition: 0.25s;
}

.main .left-content button:hover {
  background: var(--eerie-black);
  color: whitesmoke;
}

.main .left-content h1 {
  padding: 5rem;
  text-align: left;
  font-size: 6rem;
  line-height: 1;
  background: -webkit-linear-gradient(15deg, var(--gradient-dark), var(--gradient-light));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main .right-content {
  width: 54rem;
  height: 48rem;
  background-color: var(--white-coffee);
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
