/*-----------------------------------
  Container Styles
-----------------------------------*/
.container {
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  position: fixed;
  background-color: #0c0304cc;
  width: auto;
  height: 74px;
  display: flex;
  justify-content: space-between;
  border: solid 0.5px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.container img {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
}

.container .box img {
  width: 3rem;
  height: 3rem;
  padding-top: 10px;
  padding-right: 40px;
}

.container .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 10rem;
  color: white;
}

.container .logo h1 {
  font-size: 25px;
}