:root {
  /* Neutrals & Base */
  --smoky-black: #0A0604;
  --xiketic: #10060F;
  --eerie-black: #212121;

  /* Accents & UI */
  --white-coffee: #ab986f;
  --sandy-brown: #f4a460;
  --gradient-dark: #5e2815;
  --gradient-light: #f4a460;

  /* HSL Alternates */
  --hsl-purple-dark: hsl(290, 80%, 40%);
  --hsl-purple-light: hsl(290, 80%, 90%);
  --hsl-pink-dark: hsl(320, 80%, 40%);
  --hsl-pink-light: hsl(320, 80%, 90%);
}
